*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
}

.settings{
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 35px;  
    width: 100%;
    height: 100vh;
    padding-bottom: 200px;
}

.focusCard{
    width: 300px;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    gap: 20px;
    border: solid;
    border-radius: 20px;
    padding: 20px;
    position: relative;
}

.focusCard::after{
    position: absolute;
    content: 'Most Popular';
    background-color: orange;
    border: 3px solid black;
    border-radius: 10px;
    top: -25px;
    left: 50%;
    width: 120px;
    align-items: center;
    text-align: center;
    padding: 10px 20px;
    font-size: 15px;
    font-weight: bolder;
    transform: translateX(-50%);
    z-index: 2;
}

.normalCard{
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    gap: 20px;
    border: solid;
    border-radius: 20px;
    padding: 20px;
}

#title{
    font-size: 35px;
    font-weight: bold;
}

#priceBox{
    margin-left: 35px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: relative;
}

#dolla{
    position: absolute;
    top: 4px;
    left: 43px;
    font-size: 50px;
    font-weight: bolder;
}

#dolla2{
    position: absolute;
    top: 4px;
    left: 28px;
    font-size: 50px;
    font-weight: bolder;
}

.focusCard #dolla2{
    color: orange;
}

#price{
    font-size: 70px;
    font-weight: bolder;
}

.focusCard #price{
    color: orange;
}

#date{
    font-size: 25px;
    font-weight: 400;
}

#description{
    font-size: 17px;
    font-weight: 200;
    padding: 0 30px;
}

hr{
    border-top: 3px solid black;
}

#listItem{
    font-size: 15;
    font-weight: 150;
    text-align: left;
    padding-left: 30px;
    position: relative;
}

#listItem::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: solid 2px;
    transform: translateY(-50%);
    z-index: 2;
}

#listItem::after{
    position: absolute;
    content: '';
    top: 50%;
    left: 2px;
    width: 7px;
    height: 3px;
    border-bottom: solid 2px;
    border-left: solid 2px; 
    transform: rotate(-45deg) translateY(0%) translateX(50%) ;
    z-index: 3;
}

#button{
    font-size: 23px;
    font-weight: 650;
    border: 3px solid black;
    border-radius: 10px;
    padding: 15px;
    transition: all 0.3s;
}

.focusCard #button{
    background-color: rgb(255, 166, 0);
}

#button:hover{
    background-color: rgb(255, 235, 120);
    size: 110%;
}

.focusCard #button:hover{
    background-color: rgb(255, 182, 47);
}