*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.settings{
    margin: auto;
    width: 70%;
    height: 600px;
    border-radius: 20px;
    border: solid black 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.header{
    display: flex;
    gap: 30px;
    text-align: left;
}

.header button{
    border: none;
    font-size: 20px;
}

.header .active-tab{
    border-bottom: black 3px solid;
}

.textBox{
    margin: auto;
    width: 60%;
    height: 300px;
    border: 3px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
    text-align: center;
    display: flex;
}

.textBox p{
    margin: auto;
    font-size: 30px;
}